/.quarto/
/posts/meta-dl-creditcard-20240710/creditcard.db
/posts/meta-dl-creditcard-20240711/creditcard.db
/posts/meta-dl-creditcard-20240714/creditcard.db
posts/coach-ds-20240821/logistsics_seoul.csv
posts/meta-dl-creditcard-20240718_Portfolio
/docs/